<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/thinkphp5/public/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <title>编 辑 课 程</title>
</head>
<body class="container">
<form action="{:url('update')}" method="post">
    <input type="hidden" name="id" value="{$Course->getData('id')}"/>
    <label for="name">姓名:</label><input type="text" name="name" id="name" value="{$Course->name}"/>
    {volist name="Course->Klasses()->select()" id="klass"}
    <label for="klass_id_{$klass->id}">
        <input type="checkbox" name="klass_id[]" id="klass_id_{$klass->id}" value="{$klass->id}" {eq name="$Course->getIsChecked($klass)" value="true"}checked="checked"{/eq}>
        {$klass->name}
    </label>
    {/volist}
    <button type="submit">保存</button>
</form>
</body>
</html>