<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/thinkphp5/public/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <title>课 程 表</title>
</head>
<body class="container">
<div class="row">
    <div class="col-md-12">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{:url('teacher/index')}"><span class="text-primary">教学管理系统</span></a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li><a href="{:url('teacher/index')}">教师管理</a></li>
                        <li><a href="{:url('student/index')}">学生管理</a></li>
                        <li><a href="{:url('klass/index')}">班级管理</a></li>
                        <li class="active"><a href="{:url('course/index')}">课程管理</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">用户：<span class="text-danger">{:session('teacherName')}</span></a></li>
                        <li><a href="{:url('login/logOut')}">注销</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="clearfix" style="margin-bottom: 10px"></div>
<h1 class="text-center text-info">课 程 表</h1>
<div class="clearfix" style="margin-bottom: 10px;"></div>
<div class="row">
    <div class="col-xs-12">
        <table class="table table-hover table-bordered">
            <tr class="info">
                <th>序号</th>
                <th>名字</th>
                <th>新增时间</th>
                <th>修改时间</th>
                <th>操作</th>
            </tr>
            {volist name='Courses' id='Course' key='key'}
            <tr>
                <td>{$key}</td>
                <td>{$Course->name}</td>
                <td>{:date('Y-m-d H:i:s',$Course->create_time)}</td>
                <td>{:date('Y-m-d H:i:s',$Course->update_time)}</td>
                <td class="text-center">
                    <a href="{:url('edit?id='.$Course->id)}" class="btn btn-warning btn-xs">编辑</a>&nbsp;
                    <a href="{:url('delete?id='.$Course->id)}" class="btn btn-danger btn-xs">删除</a>
                </td>
            </tr>
            {/volist}
        </table>
    </div>
</div>
{$Courses->render()}
<hr>
<div class="row">
    <div class="col-xs-2">
        <a href="{:url('add')}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-plus"></span>&nbsp;新增课程</a>
    </div>
</div>

</body>
</html>