<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>教 师 表</title>
    <link rel="stylesheet" href="/thinkphp5/public/static/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/thinkphp5/public/static/css/Teacher/index.css">
</head>
<body class="container">
<div class="clearfix" style="margin-bottom: 10px"></div>
<h1 class="text-center text-info">教 师 表</h1>
<div class="clearfix" style="margin-bottom: 10px"></div>
<div class="row">
    <div class="col-xs-12" style="height: 230px;">
        <table class="table table-bordered table-hover">
            <tr class="info">
                <th>序号</th>
                <th>姓名</th>
                <th>性别</th>
                <th>用户名</th>
                <th>邮件地址</th>
                <th>创建时间</th>
                <th>更新时间</th>
                <th>操作</th>
            </tr>
            {volist name="teachers" id="_Teacher" key="key"}
            <tr>
                <td>{$key}</td>
                <td>{$_Teacher->getData('name')}</td>
                <td>{eq name='$_Teacher->getData("sex")' value='0'}男{else /}女{/eq}</td>
                <td>{$_Teacher->getData('username')}</td>
                <td>{$_Teacher->getData('email')}</td>
                <td>{:date("Y-m-d H:i:s",$_Teacher->getData('create_time'))}</td>
                <td>{:date("Y-m-d H:i:s",$_Teacher->getData('update_time'))}</td>
                <td>
                    <a href="{:url('edit?id='.$_Teacher->getData('id'))}" class="btn btn-warning btn-xs">编辑</a>&nbsp;
                    <a href="{:url('delete?id='.$_Teacher->getData('id'))}" class="btn btn-danger btn-xs">删除</a>
                </td>
            </tr>
            {/volist}
        </table>
    </div>
    <div class="col-xs-3">
        {$teachers->render()}
    </div>
    <div class="pull-right" style="margin-right: 10px">
        <div class="clearfix" style="margin-bottom: 20px;"></div>
        <form action="{:url()}" class="form-inline">
            <div class="form-group">
                <label for="name" class="sr-only">姓名</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="姓名..." value="{:input('get.name')}">
            </div>
            <button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</button>
        </form>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-2">
        <a href="{:url('add')}" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-plus"></span>&nbsp;新增教师</a>
    </div>
</div>
</body>
</html>
